

<div class="edit">
  <h3>Update {{ student?.name | uppercase }} details</h3>
  <div>
    <label>name:
      <input placeholder="Name" #name/>
    </label>
  </div>

  <div>
    <label>email:
      <input placeholder="Email" #email/>
    </label>
  </div>

  <div>
    <label>land:
      <input placeholder="Land" #land/>
    </label>
  </div>
  
  <div>
    <label>city:
      <input placeholder="City" #city/>
    </label>
  </div>

  <div>
    <label>PostNumber:
      <input placeholder="PostNumber" #postNumber/>
    </label>
  </div>
  <button (click)="UpdateStudent(name.value,email.value,land.value,city.value,postNumber.value)" routerLink="/students">Update</button>
</div>